{% extends 'base.html' %}
{% block page_heading %}Search Bug Reports{% endblock page_heading %} 
{% block content %}
<div class="row">
    <div class="display col-xs-12">
        <form class="navbar-form navbar-left" action="{% url 'search_bug_posts' %}" method="get">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="q">
            </div>
            <button type="search" class="btn btn-default">Search</button>
        </form>
    </div>

    {% for bug_post in bug_posts %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <p>{{ bug_post.title }}<p>
                <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="boldtext">Status:</span> {{ bug_post.status }}</p>
                <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ bug_post.votes }} ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ bug_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ bug_post.comment_count }} </p>
            </div>
            <div class="panel-body">
                <p>{{ bug_post.content|truncatewords:30 }}</p>
                {% if bug_post.user == user %}
                <p><span class="boldtext">This is your post!</span></p>
                    {% if bug_post.status == "To Do" %}
                    <a href="{% url 'edit_bug_post' bug_post.id %}" class="btn btn-default">Edit</a>
                    <a href="{% url 'delete_bug_post' bug_post.id %}" class="btn btn-default">Delete</a>
                    {% endif %}
                {% else %}
                <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="boldtext">Author: {{ bug_post.user }}</p>
                {% endif %}
                <a href="{% url 'bug_post_detail' bug_post.id %}"  class="btn btn-default">View</a>
                <p><span class="boldtext">Published:</span> {{ bug_post.published_date }} </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

