{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block page_heading %}
<!--Mix of bootrap classes and custom.css classes-->
<header class="container">
    <div class="row line_break_border">
        <div class="col-md-offset-1 col-md-7 secondary_search_bar">
            <form action="{% url 'search_bug_posts' %}" method="get">
                <h1>Bug Report Details</h1>
                <p><em class="dark_blue_text"><strong>Search Another Topic:</strong></em></p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="other bug issue" name="q">
                    <span class="input-group-btn">
                        <button type="search" class="btn search_button"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </span>
                </div><!-- /input-group -->
            </form>
            {% if user.is_authenticated %}
                <p class="dark_green_text"><strong><em>Welcome back {{ user }}!</em></strong></p>
            {% endif %}
        </div>
    </div>
</header>
{% endblock page_heading %}

{% block content %}
<!--Mix of bootrap classes and custom.css classes-->
<div class="row">
    <!--post details-->
    <section class="post_details col-md-10 col-md-offset-1">
        <p class="dark_green_text"><em><strong>Details:</strong></em></p>
        <h1>{{ bug_post.title }}</h1>
        
        <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ bug_post.votes }} ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ bug_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ bug_post.comment_count }} </p>
        <p><span class="boldtext">Published on:</span> {{ bug_post.published_date }} </p>
        
        <!--status badges-->
        {% if bug_post.status == "Doing" %}
            <label class="badge badge-yellow">{{ bug_post.status }}</label>
            <p>Started: {{ bug_post.start_time.date }}</p>
        {% elif bug_post.status == "Done" %}
            <label class="badge badge-positive">{{ bug_post.status }}</label>
            <p>Started: {{ bug_post.start_time.date }}</p>
            <p>Finished: {{ bug_post.end_time.date }}</p>
        {% else %}
            <label class="badge badge-negative">{{ bug_post.status }}</label>
        {% endif %}
        
        <!--Post users details-->
        {% if bug_post.user == user %}
            <p><span class="boldtext dark_green_text">This is your post!</span></p>
        {% else %}
            <p><span class="boldtext">By Author:</span>{{ bug_post.user }}</p>
        {% endif %}
        <p><strong>Content:</strong></p>
        <p>{{ bug_post.content }}</p>
        
        <!--alerting its finished-->
        {% if bug_post.status == "Done" %}
            <p class="dark_green_text">This bug has been fully fixed!</p>
            <p class="red_text">Commenting has been disabled because the bug has been fixed!</p>
        {% endif %}
        <div class="row detail_post_buttons">
            <!--Users buttons-->
            <a href="{% url 'get_bug_posts' %}" class="btn get_bug_posts_button col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6">Back to Bug Report List</a>
           {% if bug_post.status != "Done" %}
                <a href="{% url 'vote_bug_post' bug_post.id %}" class="btn vote_button col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6">Vote Post</a>
                {% if user.is_authenticated %}
                    {% if bug_post.status == "To Do" and bug_post.user == user %}
                        <a href="{% url 'edit_bug_post' bug_post.id %}" class="btn edit_button col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6">Edit</a>
                        <a href="{% url 'delete_bug_post' bug_post.id %}" class="btn delete_button col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6">Delete</a>
                    {% endif %}
                {% endif %}
            {% endif %}
           
        </div>
    </section>
    <!--sticky buttons and comment form for scrolling through comments-->
    <section class="comment_form_login col-md-10 col-md-offset-1">
        {% if bug_post.status != "Done" %}
            {% if user.is_authenticated %}
            <div class="comment_form">
                <a class="btn comment_form_toggle" role="button" data-toggle="collapse" href="#collapseCommentBox" aria-expanded="false" aria-controls="collapseExample">
                    Comment Form <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <div class="collapse" id="collapseCommentBox">
                    <form class="post_comment_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <button type="submit" class="btn">Post Comment</button>
                    </form>
                </div>
            </div>
            {% else %}
            <a class="btn login_button" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login To Comment</a>
            {% endif %}
        {% endif %}
    </section>
        
    
    <section class="comments col-xs-10 col-xs-offset-1">
        <h2>Comments:</h2>
        <ul class="media-list">
            {% for bug_comment in bug_comments %}
            <li class="media">
                <div class="media-body comment">
                  <h3 class="media-heading"><em class="green_text"><strong>{{ bug_comment.user }}</strong></em>  ~ {{ bug_comment.published_date }}</h3>
                  {{ bug_comment.content }}
                </div>
            </li>
            {% endfor %}
            {% if bug_comments|length == 0 %}
            <li class="media">
                <div class="media-body comment">
                    <p class="media-heading">No comments found!</p>
                    {{ bug_comment.content }}
                </div>
            </li>
            {% endif %}
        </ul>
    </section>
    <section class="col-xs-10 col-xs-offset-1 back_to_top_section">
        <a id="back_to_top" class="btn back_to_top_button col-xs-10 col-xs-offset-1"><span class="glyphicon glyphicon-arrow-up"></span> Back to Top</a>
    </section>
</div>
{% endblock %}

{% block body_js %}
<script src="{% static 'js/each_post_detail.js' %}"></script>
{% endblock body_js %}