{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
            {% if bug_post.user == user %}
                <p><span class="boldtext">This is your post!</span></p>
                <a href="{% url 'edit_bug_post' bug_post.id %}" class="btn btn-default">Edit Post</a>
            {% else %}
                <p><span class="boldtext">By Author:</span>{{ bug_post.user }}</p>
            {% endif %}
            <a href="{% url 'vote_bug_post' bug_post.id %}" class="btn btn-default">Vote Post</a>
        </div>
        <div class="col-sm-10 col-md-9">
            <h3>{{ bug_post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ bug_post.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ bug_post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{ bug_post.views }}</p>
                    <p><span class="boldtext">Votes:</span> {{ bug_post.votes }}</p>
                    <p><span class="boldtext">Tag:</span> {{ bug_post.tag }}</p>
                    <a href="{% url 'get_bug_posts' %}" class="btn btn-default">Back to Blog</a>
                    <hr>
                </div>
            </div>
        </div>
        
        <div class="col-sm-10 col-md-9">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-info">Save</button>
            </form>
        </div>
        <div class="col-sm-10 col-md-9">
            <ul class="media-list">
                {% for bug_comment in bug_comments %}              
                <li class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="..." alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{ bug_comment.user }} ~ {{ bug_comment.published_date }}</h4>
                      {{ bug_comment.content }}
                    </div>
                </li>
                {% endfor %}
                
            </ul>
        </div>
        
    </div>
{% endblock %}