{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_heading %}
<!--Mix of bootrap classes and custom.css classes-->
<header class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Techfix<em class="blue_text">-Overlap<i class="fa fa-wrench"></i></em> News Blog:</h1>
            
            {% if user.is_authenticated %}
                <p class="dark_green_text"><strong><em>Welcome back {{ user }}!</em></strong></p>
            {% endif %}
            
        </div>
    </div>
</header>
{% endblock page_heading %}

{% block content %}
<!--custom.css class-->
<section class="blog_posts">
    {% if blog_count > 0 %}
        {% for blog_post in blog_posts %}
        <div class="line_break_border">
            <h2>{{ blog_post.title }}</h2>
            <p><em><strong>Author:</strong> {{ blog_post.user }}</em> ~ <em><strong>Published:</strong> {{ blog_post.published_date }}</em></p>
            <p>{{ blog_post.content }}</p>
        </div>
        {% endfor %}
    {% else %}
        <h2>No blog posts have been posted.</h2>
    {% endif %}
</section>
{% endblock content %}