{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}
    Password Reset Page
{% endblock %}

{% block page_heading %}
<div class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1>Reset Password</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <form method="post" class="password_reset_form">
        <p>Please enter your email address</p> 
        {% csrf_token %}{{ form.email.errors }}
        <label for="id_email">Email address:</label> 
        {{ form.email }}
        <button class="btn reset_password_button">Reset Password</button>
    </form>
</div>
{% endblock %}