    
{% extends 'base.html' %}

{% block page_heading %}Search Posted Features{% endblock page_heading %} 

{% block content %}
<div class="row">
    {% for feature_post in feature_posts %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <p>{{ feature_post.title }}<p>
                <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="boldtext">Status:</span> {{ feature_post.status }}</p>
                <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ feature_post.votes }} ( <span class="boldtext">Funds:</span> €{{ feature_post.votes_cost }} ) ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ feature_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments </p>
            </div>
            <div class="panel-body">
                <p>{{ feature_post.content|truncatewords:30 }}</p>
                {% if feature_post.user == user %}
                <p><span class="boldtext">This is your post!</span></p>
                <a href="{% url 'edit_feature_post' feature_post.id %}" class="btn btn-default">Edit</a>
                {% else %}
                <p><span class="glyphicon glyphicon-user" aria-hidden="true"> </span> <span class="boldtext">Author: {{ feature_post.user }}</span></p>
                {% endif %}
                <a href="{% url 'feature_post_detail' feature_post.id %}"  class="btn btn-default">View</a>
                <p><span class="boldtext">Published:</span> {{ feature_post.published_date }} </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}
