{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
            {% if feature_post.user == user %}
            <p><span class="boldtext">This is your post!</span></p>
                {% if feature_post.status == "To Do" %}
                <a href="{% url 'edit_feature_post' feature_post.id %}" class="btn btn-default">Edit</a>
                {% endif %}
            {% else %}
                <p><span class="boldtext">By Author:</span>{{ feature_post.user }}</p>
            {% endif %}
            
            <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">Vote Post</a>
            
            <!--bootstrap model pop up-->
            <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
                  </div>
                  <div class="modal-body">
                    
                    <p>To vote a feature, you must pay a minimum of 10 euro to vote. Each 10 euro of total paid from all users, is counted as 1 vote.</p>
                    <form method="post" action="{% url 'add_to_cart' feature_post.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="money_amount" type="number" min="10" max="1000" class="form-control" placeholder="Euro to pay">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Proceed to Chart</button>
                            </span>
                        </div>
                    </form>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>    
                        
        </div>
        <div class="col-sm-10 col-md-9">
            <h3>{{ feature_post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ feature_post.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ feature_post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{ feature_post.views }}</p>
                    <p><span class="boldtext">Votes:</span> {{ feature_post.votes }}</p>
                    <p><span class="boldtext">Votes Cost:</span> {{ feature_post.votes_cost }}</p>
                    <a href="{% url 'get_feature_posts' %}" class="btn btn-default">Back to Blog</a>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-9">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-info">Save</button>
            </form>
        </div>
        <div class="col-sm-10 col-md-9">
            <ul class="media-list">
                {% for feature_comment in feature_comments %}              
                <li class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="..." alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{ feature_comment.user }} ~ {{ feature_comment.published_date }}</h4>
                      {{ feature_comment.content }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
{% endblock %}
<script>

/*$("#vote_feature_post").on("click", function(e){
    function moneyRequest() {
        
    }
})*/
</script>