{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_heading %}
<!--Mix of bootrap classes and custom.css classes-->
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6">
        <h1>Feature Requests</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
        {% if user.is_authenticated %}
            <a href="{% url 'new_feature_post' %}" class="btn new_post_button">Create Feature Request</a>
            <p class="dark_green_text"><strong><em>Welcome back {{ user }}!</em></strong></p>
        {% else %}
            <a type="button" class="btn login_button" href="{% url 'login' %}">Login To Create A Request</a>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 search_bar">
        
        <form action="{% url 'search_feature_posts' %}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="feature suggestion" name="q">
                <span class="input-group-btn">
                    <button type="search" class="btn search_button"><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div>
</div>
</div>
{% endblock page_heading %}

{% block content %}
<!--Mix of bootrap classes and custom.css classes-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
<!--Finished Panel dropdown-->
  <section class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="dark_blue_bar" role="tab" id="headingOne">
            <h1 class="green_text">
                  Finished 
                {% if done_count > 0 %}
                    <label class="badge badge-positive">{{ done_count }}</label>
                {% else %}
                    <label class="badge badge-negative">{{ done_count }}</label>
                {% endif %}
            </h1>
        </div>
    </a>
    
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% if done_count > 0 %}
        {% for feature_post in feature_posts %}
        {% if feature_post.status == "Done"%}
        <div class="col-xs-12 col-sm-4 col-md-3 ticket">
            <div class="panel panel_item">
                <div class="panel-heading panel_post_head">
                    <h2>
                    <strong>
                    {% if feature_post.title|length >= 20 %}
                        {{ feature_post.title|slice:":18" }}..
                    {% else %}
                        {{ feature_post.title }}
                    {% endif %}
                    </strong>
                    </h2>
                    <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <label class="badge badge-positive">{{ feature_post.status }}</label></p>
                    <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ feature_post.votes }} 
                    
                    {% if feature_post.votes_cost > 0 %}
                        <label class="badge badge-positive">{{ feature_post.votes_cost }} € donated</label>
                    {% else %}
                        <label class="badge badge-negative">{{ feature_post.votes_cost }} € donated</label>
                    {% endif %}
                    
                     ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ feature_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ feature_post.comment_count }} </p>
                </div>
                <div class="panel-body">
                    <p>'{{ feature_post.content|slice:":25" }}'</p>
                    {% if feature_post.user == user %}
                    <p><span class="boldtext">This is your post!</span></p>
                        {% if feature_post.status == "To Do" %}
                        <a href="{% url 'edit_feature_post' feature_post.id %}" class="btn">Edit</a>
                        {% endif %}
                    {% else %}
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="boldtext">Author: {{ feature_post.user|slice:":7" }}</p>
                    {% endif %}
                    <a href="{% url 'feature_post_detail' feature_post.id %}" class="btn">View</a>
                    <p><span class="boldtext">Published:</span> {{ feature_post.published_date }} </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>No posts found.</p>
        {% endif %}
      </div>
    </div>
  </section>

<!--In Progress Panel dropdown-->
  <section class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="dark_blue_bar" role="tab" id="headingTwo">
            <h1 class="yellow_text">
                In Progress 
                {% if doing_count > 0 %}
                <label class="badge badge-positive">{{ doing_count }}</label>
                {% else %}
                <label class="badge badge-negative">{{ doing_count }}</label>
                {% endif %}
            </h1>
        </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        {% if doing_count > 0 %}
        {% for feature_post in feature_posts %}
        {% if feature_post.status == "Doing"%}
        <div class="col-xs-12 col-sm-4 col-md-3 ticket">
            <div class="panel panel_item">
                <div class="panel-heading panel_post_head">
                    <h2>
                    <strong>
                    {% if feature_post.title|length >= 20 %}
                        {{ feature_post.title|slice:":18" }}..
                    {% else %}
                        {{ feature_post.title }}
                    {% endif %}
                    </strong>
                    </h2>
                    <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <label class="badge badge-yellow">{{ feature_post.status }}</label></p>
                    <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ feature_post.votes }} 
                    
                    {% if feature_post.votes_cost > 0 %}
                        <label class="badge badge-positive">{{ feature_post.votes_cost }} € donated</label>
                    {% else %}
                        <label class="badge badge-negative">{{ feature_post.votes_cost }} € donated</label>
                    {% endif %}
                    
                    ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ feature_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ feature_post.comment_count }} </p>
                </div>
                <div class="panel-body">
                    <p>'{{ feature_post.content|slice:":25" }}'</p>
                    {% if feature_post.user == user %}
                    <p><span class="boldtext">This is your post!</span></p>
                        {% if feature_post.status == "To Do" %}
                        <a href="{% url 'edit_feature_post' feature_post.id %}" class="btn">Edit</a>
                        {% endif %}
                    {% else %}
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="boldtext">Author: {{ feature_post.user|slice:":7" }}</p>
                    {% endif %}
                    <a href="{% url 'feature_post_detail' feature_post.id %}"  class="btn">View</a>
                    <p><span class="boldtext">Published:</span> {{ feature_post.published_date }} </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>No posts found.</p>
        {% endif %}
      </div>
    </div>
  </section>

  
  
<!--To Do Panel dropdown-->
  <section class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="dark_blue_bar" role="tab" id="headingThree">
            <h1 class="light_red_text">
                In Waiting
                {% if to_do_count > 0 %}
                    <label class="badge badge-positive">{{ to_do_count }}</label>
                {% else %}
                    <label class="badge badge-negative">{{ to_do_count }}</label>
                {% endif %}
          </h1>
        </div>
    </a>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            {% if to_do_count > 0 %}
            {% for feature_post in feature_posts %}
            {% if feature_post.status == "To Do"%}
            <div class="col-xs-12 col-sm-4 col-md-3 ticket">
                <div class="panel panel_item">
                    <div class="panel-heading panel_post_head">
                        <h2>
                        <strong>
                        {% if feature_post.title|length >= 20 %}
                            {{ feature_post.title|slice:":18" }}..
                        {% else %}
                            {{ feature_post.title }}
                        {% endif %}
                        </strong>
                        </h2>
                        <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <label class="badge badge-negative">{{ feature_post.status }}</label></p>
                        <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ feature_post.votes }} 
                        
                        {% if feature_post.votes_cost > 0 %}
                            <label class="badge badge-positive">{{ feature_post.votes_cost }} € donated</label>
                        {% else %}
                            <label class="badge badge-negative">{{ feature_post.votes_cost }} € donated</label>
                        {% endif %}
                        
                        ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ feature_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ feature_post.comment_count }} </p>
                    </div>
                    <div class="panel-body">
                        <p>'{{ feature_post.content|slice:":25" }}'</p>
                        {% if feature_post.user == user %}
                        <p><span class="boldtext">This is your post!</span></p>
                            {% if feature_post.status == "To Do" %}
                            <a href="{% url 'edit_feature_post' feature_post.id %}" class="btn">Edit</a>
                            {% endif %}
                        {% else %}
                        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="boldtext">Author: {{ feature_post.user|slice:":7" }}</p>
                        {% endif %}
                        <a href="{% url 'feature_post_detail' feature_post.id %}"  class="btn">View</a>
                        <p><span class="boldtext">Published:</span> {{ feature_post.published_date }} </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <p>No posts found.</p>
            {% endif %}
        </div>
    </div>
  </section>
</div>

{% endblock content %}


<!--bug and features script tag has been removed as it is not required anymore-->
