{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<!--chart.js library-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock head_js %}

{% block page_heading %}
<header class="container">
    <div class="col-xs-12 line_break_border">
        <h1>Techfix<em class="blue_text">-Overlap<i class="fa fa-wrench"></i></em> Charts</h1>
        <p>Our charts demonstrate our progress as a company, displaying how many overall Bug Reports and Feature Requests we tend to regularly and how many users are relying on us to contribute to the the Techfix open source. We are always seeking new top python developers to help further develop the framework and increase user reliance.</p>
        {% if user.is_authenticated %}
            <p class="dark_green_text"><strong><em>Welcome back {{ user }}!</em></strong></p>
        {% endif %}
    </div>
</header>
{% endblock page_heading %} 

{% block content %}
<!--Mix of bootrap classes and custom.css classes. Button and graph ids link to charts.js code. Canvas link to chart js library.-->
<div class="all_charts">
    <section class="col-xs-12 col-md-6">
        <div class="col-xs-12 toggle_buttons" role="group" aria-label="...">
          <button id="daily_graph_toggle" type="button" class="btn graph_toggle_button activated_button col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">Daily</button>
          <button id="weekly_graph_toggle" type="button" class="btn graph_toggle_button col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">Weekly</button>
          <button id="monthly_graph_toggle" type="button" class="btn graph_toggle_button col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">Monthly</button>
        </div>
    
        <div id="average_graphs" class="col-xs-12 average_graphs">
            <div id="daily_graph" class="graph daily_graph">
                <h2>Average amount of Bugs/Features attended to <em class="dark_green_text">Daily</em>:</h2>
                <canvas id="dailyProgressChart"></canvas>
            </div>
            <div id="weekly_graph" class="graph weekly_graph">
             <h2>Average amount of Bugs/Features attended to <em class="dark_green_text">Weekly</em>:</h2>
                <canvas id="weeklyProgressChart"></canvas>
            </div>
            <div id="monthly_graph" class="graph monthly_graph">
                <h2>Average amount of Bugs/Features attended to <em class="dark_green_text">Monthly</em>:</h2>
                <canvas id="monthlyProgressChart"></canvas>
            </div>
        </div>
    </section>
    <section class="col-xs-12 col-md-6">
        <div class="col-xs-12 toggle_buttons" role="group" aria-label="...">
          <button id="bugs_graph_toggle" type="button" class="btn graph_toggle_button activated_button col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">Bugs</button>
          <button id="features_graph_toggle" type="button" class="btn graph_toggle_button col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">Features</button>
        </div>
        <div class="col-xs-12">
            <div id="vote_graphs" class="vote_graphs">
                <div id="bug_votes_graph" class="graph bug_votes_graph">
                    <h2>Highest Voted <em class="dark_green_text">Bugs</em>:</h2>
                    <canvas id="higestBugsVotedChart"></canvas>
                </div>
                <div id="feature_votes_graph" class="graph bug_votes_graph">
                    <h2>Highest Voted <em class="dark_green_text">Features</em>:</h2>
                    <canvas id="higestFeaturesVotedChart"></canvas>
                </div>
            </div>
        </div>
    </section>
    <div class="row optional_button_div">
        <a href="{% url 'get_blog_posts' %}" class="btn get_blogs col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">View Our News Blog</a>
    </div>
</div>

{% endblock content %}

{% block body_js %}
<!--custom js that rechieves python 'data'-->
<script type="text/javascript">
    var retrieveData = function(d) {
        return {
            datasets: [{
                data: d,
                backgroundColor:[
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                ],
            }],
            labels: ['Bugs', 'Features']
        };
    };
        
    var rechieveVotesData = function(votes, titles) {
        return {
            datasets: [{
                data: votes,
                backgroundColor:[
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(230, 99, 132, 1)',
                    'rgba(20, 162, 235, 1)',
                    'rgba(100, 162, 235, 1)'
                ],
            }],
            labels: titles
        };
    };
    var daily_data = retrieveData(JSON.parse('{{ data.daily }}'));
    var weekly_data = retrieveData(JSON.parse('{{ data.weekly }}'));
    var monthly_data = retrieveData(JSON.parse('{{ data.monthly }}'));
    var vote_data_titles = retrieveData('{{ data.most_voted_bugs.title }}');
    var vote_data_votes = retrieveData(JSON.parse('{{ data.most_voted_bugs.votes }}'));
    
    console.log(JSON.stringify("{{ data.most_voted_bugs.title }}"));
    
    var bug_votes_data = rechieveVotesData(JSON.parse('{{ data.most_voted_bugs.votes  }}'), JSON.parse('{{ data.most_voted_bugs.title|safe }}'));
    var feature_votes_data = rechieveVotesData(JSON.parse('{{ data.most_voted_features.votes  }}'), JSON.parse('{{ data.most_voted_features.title|safe }}'));
</script>
<!--custom js-->
<script src="{% static 'js/charts.js' %}"></script>
{% endblock body_js %}