/*---------------------------------base colors */
/*
Used this link to find variations of colors:
http://paletton.com/?fbclid=IwAR2Zl09ucUxIJgPOQWO06EgyD4266xHb-S0gvsxDa66Pq0QKJfJIfg9K9Ps#uid=3000u0k00vK00++00RE01pI0hk6*/
/*black blue*/
/*blue*/
/*white*/
/*green*/
/*yellow*/
/*red*/
/*grey*/
/*-----------------------------------------layout*/
html {
  height: 100%;
}

body {
  min-height: 100vh;
  padding: 0 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: relative;
  margin: 0 0;
}

section {
  margin-top: -50px;
  padding: 50px 0 390px 0;
  width: auto;
  min-height: inherit;
}

nav {
  position: relative;
  margin: 0 0;
}

footer {
  position: relative;
  margin: -390px 0 0 0;
  /* negative value of footer height */
  clear: both;
}

/*--------------------------------------------section colors and borders*/
/*----------------------navbar*/
nav {
  background: #242729;
}
nav button {
  background: #44494D !important;
}

.navbar-toggle span {
  background: #fdfdfd;
}

.navbar-brand:hover {
  background-color: #61686D;
}

.navbar-collapse {
  background: #44494D;
  /*changes to black-blue for wider screens*/
}
.navbar-collapse button:hover, .navbar-collapse a:hover {
  background: #61686D;
}
.navbar-collapse ul li a {
  color: #fdfdfd;
}
.navbar-collapse ul li a:hover {
  background: #61686D;
}

.nav-stacked li:hover, .nav-stacked li:active {
  background: #61686D;
}

footer {
  background: #0B4181;
}
footer .link, footer a {
  border-radius: 5px 5px 5px 5px;
}
footer a {
  color: #fdfdfd;
}
footer a:hover {
  background: #366FB3 !important;
  color: #FFC63D;
}
footer p {
  color: #CDCDCD;
}

/*---------------------buttons colors, borders and margins*/
.current_page {
  background: #61686D;
}

.new_post_button, .login_button, .registration_button, .reset_password_button, .purchase_button, .submit_button {
  margin: 20px 10px 20px 10px;
  color: #fdfdfd;
  background-color: #31CE44;
}

.new_post_button:hover, .login_button:hover, .registration_button:hover, .reset_password_button:hover, .purchase_button:hover, .submit_button:hover,
.new_post_button:active, .login_button:active, .registration_button:active, .reset_password_button:active, .purchase_button:active, .submit_button:active {
  background-color: #52CE80;
  color: #FFC63D;
}

.edit_button, .delete_button, .vote_button, .graph_toggle_button {
  background-color: #366FB3;
  color: #fdfdfd;
  margin: 0 15px 15px 0;
}

.edit_button:hover, .delete_button:hover, .vote_button:hover, .graph_toggle_button:hover {
  background-color: #5588C5;
  color: #FFC63D;
}

.submit_payment_button {
  background-color: #31CE44;
  color: #fdfdfd;
}

.submit_payment_button:hover {
  background-color: #52CE80;
  color: #FFC63D;
}

.post_comment_form button {
  background-color: #31CE44;
  color: #fdfdfd;
}

.post_comment_form button:hover {
  background-color: #52CE80;
  color: #FFC63D;
}

.close {
  /*changing bootstrap class*/
  font-size: 31px;
  font-weight: 800;
  filter: alpha(opacity=20);
  opacity: 0.5;
}

.close:hover {
  opacity: 0.8;
}

.search_button {
  color: #fdfdfd;
  background-color: #5588C5;
}

.search_button:hover {
  color: #FFC63D;
  background-color: #7295BF;
}

.activated_button {
  background-color: #FFC63D !important;
  color: #019914 !important;
}

/*---------------------------------------text colors*/
.dark_green_text {
  color: #019914;
}

.dark_red_text {
  color: #C20013;
}

.green_text {
  color: #52CE80;
}

.yellow_text {
  color: #FFD266;
}

.black_blue_text {
  color: #242729;
}

.red_text {
  color: #F96371;
}

.white_text {
  color: #fdfdfd !important;
}

.light_blue_text {
  color: #5588C5 !important;
}

.blue_text {
  color: #366FB3 !important;
}

/*--------------------------------------------number display badge classes*/
.badge-positive {
  background-color: #019914;
}

.badge-negative {
  background-color: #C20013;
}

.badge-blue {
  /*for footer*/
  background-color: #1558A9;
}

/*-----------------------------ticket panels for bugs and features*/
/*-------for cart and checkout pages*/
.panel_cart_item {
  background-color: #FFE5A7;
}
.panel_cart_item .panel-heading {
  color: #242729;
  background-color: #FFD266;
}
.panel_cart_item .panel-heading .badge-positive {
  background-color: green;
}
.panel_cart_item .panel-heading .badge-negative {
  background-color: red;
}
.panel_cart_item .panel-body form .input-group {
  margin: 5px 5px 5px 0;
}
.panel_cart_item .panel-body form .purchase_ammend_button {
  color: #fdfdfd;
  background-color: #366FB3;
}
.panel_cart_item .panel-body form .purchase_ammend_button:hover {
  color: #FFC63D;
  background-color: #5588C5;
}
.panel_cart_item .panel-body form .input-group-addon {
  color: #fdfdfd;
  background-color: #1558A9;
  border: 1px 1px 1px 1p;
  border-color: #5588C5;
}

/*-----for bugs, features, profile pages*/
.panel_done {
  border-color: #31CE44;
  background-color: #A5DCAC;
}
.panel_done .panel-heading {
  color: #242729;
  background-color: #52CE80;
  border-color: #31CE44;
}
.panel_done .panel-body a {
  color: #fdfdfd;
  background-color: #366FB3;
}
.panel_done .panel-body a:hover {
  color: #FFC63D;
  background-color: #5588C5;
}

.panel_doing {
  border-color: #FFC63D;
  background-color: #FFE5A7;
}
.panel_doing .panel-heading {
  color: #242729;
  background-color: #FFD266;
  border-color: #FFC63D;
}
.panel_doing .panel-body a {
  color: #fdfdfd;
  background-color: #366FB3;
}
.panel_doing .panel-body a:hover {
  color: #FFC63D;
  background-color: #5588C5;
}

.panel_to_do {
  border-color: #F83B4D;
  background-color: #F2A5AC;
}
.panel_to_do .panel-heading {
  color: #242729;
  background-color: #F96371;
  border-color: #F83B4D;
}
.panel_to_do .panel-body a {
  color: #fdfdfd;
  background-color: #366FB3;
}
.panel_to_do .panel-body a:hover {
  color: #FFC63D;
  background-color: #5588C5;
}

/*------ticket class changes*/
.ticket {
  height: 390px;
  padding-top: 10px;
}

.ticket .panel-body a {
  margin: 0 15px 15px 0;
}

/*--------------------------------------------------panel collapse*/
.panel-default .panel-collapse {
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-color: #242729;
}
.panel-default .dark_blue_heading {
  background-image: none;
  color: #fdfdfd !important;
  background-color: #1558A9 !important;
  padding: 10px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #242729;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-default .dark_blue_heading:hover {
  background-image: none;
  background-color: #5588C5 !important;
}

.panel-group .panel {
  margin-bottom: 30px !important;
}

/*-----------------------------------search bar for bugs and features*/
.search_bar {
  margin: 0 0 30px 0;
}

/*----------------------------------------------------------------home page*/
/*-----masshead*/
.mass_head {
  /*https://www.istockphoto.com/ie/vector/computer-circuit-board-seamless-black-and-white-technology-background-gm181167778-27262185*/
  background-image: url("../img/computer_circuit.jpg");
  background-color: #5588C5;
  background-blend-mode: multiply;
  margin-bottom: 10px;
}

/*-----introduction alert*/
.alert_introduction {
  background-color: #52CE80;
  border: 5px 5px 5px 5px;
  border-color: #242729;
  color: #242729;
  padding: 0 5px 0 5px;
}
.alert_introduction .close, .alert_introduction .alert-dismissible .close {
  top: 5px;
  right: 5px;
  color: #242729;
}

/*------display for all news and side nav*/
.news_container {
  padding: 10px 0 10px 0;
}

/*-side nav displaying latest bugs and features*/
.side_nav {
  background-color: #FFD266;
}

/*---------------------------------password reset page*/
.password_reset_form input {
  /*reusing bootstrap's form-control class styling, due to issues accesing the input form*/
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 2px solid #5588C5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 15px;
}

.form-control {
  border: 2px solid #5588C5;
}

.comment_form {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  padding: 10px 10px 10px 10px;
}

.sticky_buttons {
  position: -webkit-sticky;
  position: sticky;
  top: 10;
  z-index: 10;
}

.sticky_buttons a {
  background-color: #F83B4D;
  color: #fdfdfd;
  margin: 15px 0 0 0;
  text-align: right;
}

.sticky_buttons a:hover {
  background-color: #F96371;
  color: #FFC63D;
}

.comment_form {
  top: 0;
  opacity: 1;
  background-color: #1558A9;
  border-radius: 5px 5px 5px 5px;
  color: #fdfdfd;
}

.comment_form_toggle {
  background-color: #F96371;
  color: #fdfdfd;
  margin: 10px 5px 10px 10px;
}
.comment_form_toggle .form_group label {
  color: #fdfdfd;
}

.comment_form_toggle:hover {
  background-color: #F2A5AC;
  color: #FFC63D;
}

.comments {
  background-color: #7295BF;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*----------------------------------------- charts for chart page*/
.average_graphs {
  height: 490px;
}

.average_graphs .graph {
  position: relative;
  height: 300px;
  /*height:60vh;
  width:120vw;*/
}

.vote_graphs {
  height: 420px;
}

.vote_graphs .graph {
  position: relative;
  height: 300px;
}

/*-------------------------------------------------------media-queries*/
@media only screen and (min-width: 768px) {
  section {
    margin-top: -100px;
    padding: 100px 0 390px 0;
  }

  .navbar-collapse {
    background: #242729;
  }

  .side_nav {
    border-width: 5px;
    border-radius: 5px 5px 5px 5px;
    border-color: #242729;
  }
}
@media only screen and (min-width: 804px) {
  section {
    margin-top: -50px;
    padding: 50px 0 390px 0;
  }
}
@media only screen and (min-width: 992px) {
  /*nav {
      margin: 0 0 -50px 0;
  }*/
  section {
    padding: 50px 0 164px 0;
  }

  footer {
    margin: -164px 0 0 0;
  }
}

/*# sourceMappingURL=custom.css.map */
