/*---------------------------------base colors */
/*
Used this link to find variations of colors:
http://paletton.com/?fbclid=IwAR2Zl09ucUxIJgPOQWO06EgyD4266xHb-S0gvsxDa66Pq0QKJfJIfg9K9Ps#uid=3000u0k00vK00++00RE01pI0hk6*/
/*black blue*/
/*blue*/
/*white*/
/*green*/
/*yellow*/
/*red*/
/*grey*/
/*-----------------------------------------layout*/
html {
  height: 100%;
  font-size: 16px !important;
}

body {
  min-height: 100vh;
  padding: 0 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #E4DBDB;
  overflow-wrap: break-word;
}

header {
  position: relative;
  margin: 0 0;
}

main {
  margin-top: -50px;
  padding: 50px 0 390px 0;
  width: auto;
  min-height: inherit;
}

nav {
  position: relative;
  margin: 0 0;
}

footer {
  position: relative;
  margin: -390px 0 0 0;
  /* negative value of footer height */
  clear: both;
}

/*--------------------------------------------section colors and borders*/
/*----------------------navbar*/
nav {
  background: #242729;
}
nav button {
  background: #44494D !important;
}

.navbar-toggle span {
  background: #fdfdfd;
}

.navbar-brand:hover {
  background-color: #61686D;
}

.navbar-collapse {
  background: #44494D;
  /*changes to black-blue for wider screens*/
}
.navbar-collapse button:hover, .navbar-collapse a:hover {
  background: #61686D;
}
.navbar-collapse ul li a {
  color: #fdfdfd;
}
.navbar-collapse ul li a:hover {
  background: #61686D;
}

.nav-stacked li:hover, .nav-stacked li:active {
  background: #61686D;
}

footer {
  background: #0B4181;
}
footer .link, footer a {
  border-radius: 5px 5px 5px 5px;
}
footer a {
  color: #fdfdfd;
}
footer a:hover {
  background: #366FB3 !important;
  color: #FFC63D;
}
footer p {
  color: #CDCDCD;
}

/*---------------------buttons colors, borders and margins, paddings sizes*/
.current_page {
  background: #61686D;
}

.get_blogs, .get_charts, .get_feature_posts_button, .get_bug_posts_button, .new_post_button, .login_button, .registration_button, .reset_password_button, .purchase_button, .edit_button, .delete_button, .vote_button {
  /*margin: 20px 20px 20px 10px;
  min-width: 250px;*/
  color: #fdfdfd;
  background-color: #019914;
}

.get_blogs:hover, .get_charts:hover .get_feature_posts_button:hover,
.get_bug_posts_button:hover, .new_post_button:hover, .login_button:hover, .registration_button:hover, .reset_password_button:hover, .purchase_button:hover,
.edit_button:hover, .delete_button:hover, .vote_button:hover,
.get_blogs:active, .get_charts:active,
.get_feature_posts_button:active, .get_bug_posts_button:active,
.new_post_button:active, .login_button:active, .registration_button:active,
.reset_password_button:active, .purchase_button:active, .edit_button:active, .delete_button:active, .vote_button:active {
  background-color: #31CE44;
  color: #FFC63D;
}

.header_button {
  margin: 20px 20px 20px 10px;
  min-width: 230px;
}

.optional_button_div .btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

.toggle_buttons .btn {
  margin-bottom: 25px !important;
}

.submit_button {
  /*
  margin: 20px 20px 20px 10px;
  min-width: 230px;*/
  color: #fdfdfd;
  background-color: #5588C5;
}

.submit_button:active, .submit_button:hover {
  background-color: #7295BF;
  color: #FFC63D;
}

.graph_toggle_button, .back_to_top_button {
  background-color: #366FB3;
  color: #fdfdfd;
  /*min-width: 190px;*/
}

.graph_toggle_button:hover, .back_to_top_button:hover, .graph_toggle_button:active, .back_to_top_button:active {
  background-color: #5588C5;
  color: #FFC63D;
}

.submit_payment_button {
  background-color: #31CE44;
  color: #fdfdfd;
}

.submit_payment_button:hover, .submit_payment_button:active {
  background-color: #52CE80;
  color: #FFC63D;
}

.post_comment_form button {
  background-color: #31CE44;
  color: #fdfdfd;
}

.post_comment_form button:hover {
  background-color: #52CE80;
  color: #FFC63D;
}

.close {
  /*changing bootstrap class*/
  font-size: 31px;
  font-weight: 800;
  filter: alpha(opacity=20);
  opacity: 0.5;
}

.close:hover {
  opacity: 0.8;
}

.search_button {
  color: #fdfdfd;
  background-color: #5588C5;
}

.search_button:hover {
  color: #FFC63D;
  background-color: #7295BF;
}

.activated_button {
  background-color: #FFC63D !important;
  color: #019914 !important;
}

/*---------------------------------------text colors*/
.dark_green_text {
  color: #019914;
}

.dark_red_text {
  color: #C20013;
}

.green_text {
  color: #52CE80;
}

.light_green_text {
  color: #A5DCAC;
}

.yellow_text {
  color: #FFD266;
}

.black_blue_text {
  color: #242729;
}

.red_text {
  color: #F96371;
}

.light_red_text {
  color: #F2A5AC;
}

.white_text {
  color: #fdfdfd !important;
}

.light_blue_text {
  color: #5588C5 !important;
}

.blue_text {
  color: #366FB3 !important;
}

/*------------------------------------------------------Text adjusts*/
/*home page and blog page*/
.mast_head .page_heading h1 {
  font-size: 2em !important;
}

.news_sub_title, .side_nav h2 {
  font-size: 2em;
}

.blog_posts h1, .blog_posts h2 {
  font-size: 1.6em;
}

.dark_blue_bar h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.4em !important;
}
.dark_blue_bar h1 .badge {
  font-size: 0.7em !important;
}

.panel_post_head h2 {
  font-size: 1.2em !important;
  margin-top: 0px;
  margin-bottom: 10px;
}

.comments h2 {
  font-size: 1.8em;
}

.comment h3 {
  font-size: 1.4em;
}

/*bug bost and feature detail page*/
.post_details p, .secondary_search_bar p {
  font-size: 1.2em;
}

.post_details h1 {
  font-size: 2.4em;
}

.detail_post_buttons {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/*--------------------------------------------number display badge classes*/
.badge-positive {
  background-color: #019914;
}

.badge-negative {
  background-color: #C20013;
}

.badge-yellow {
  background-color: #B78204;
}

.badge-blue {
  /*for footer*/
  background-color: #1558A9;
}

/*---------------------------------------------------border*/
.line_break_border {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #CDCDCD;
}

/*--------------------------------------------------panel collapse*/
.panel-default .panel-collapse {
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-color: #242729;
}
.panel-default .panel-collapse .panel-body {
  background-color: #BDAEAE;
}
.panel-default .dark_blue_bar {
  background-image: none;
  color: #fdfdfd !important;
  background-color: #1558A9 !important;
  padding: 10px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #242729;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-default .dark_blue_bar:hover {
  background-image: none;
  background-color: #5588C5 !important;
}
.panel-default .dark_blue_bar:hover h1 {
  text-decoration: none;
}

.panel-group .panel {
  margin-bottom: 30px !important;
}

/*-----------------------------ticket panel item for bugs, features, cart/checkout items*/
.panel_item {
  border-color: #366FB3;
  background-color: #7295BF !important;
  height: 375px;
}
.panel_item .panel-heading {
  color: #242729;
  background-color: #5588C5;
  border-color: #366FB3;
}
.panel_item .panel-body {
  background-color: #7295BF !important;
}
.panel_item .panel-body a {
  color: #fdfdfd;
  background-color: #019914;
}
.panel_item .panel-body a:hover, .panel_item .panel-body a:active {
  color: #FFC63D;
  background-color: #31CE44;
}
.panel_item .panel-body form .input-group {
  margin: 5px 5px 5px 0;
}
.panel_item .panel-body form .form-group {
  max-width: 200px;
}
.panel_item .panel-body form .purchase_ammend_button, .panel_item .panel-body form form .form-group {
  margin: 10px 0 10px 0;
}
.panel_item .panel-body form .purchase_ammend_button {
  color: #fdfdfd;
  background-color: #31CE44;
}
.panel_item .panel-body form .purchase_ammend_button:hover {
  color: #FFC63D;
  background-color: #52CE80;
}
.panel_item .panel-body form .input-group-addon {
  color: #fdfdfd;
  background-color: #1558A9;
  border: 1px 1px 1px 1p;
  border-color: #5588C5;
}

/*-------------------------------------post detail page for bugs and featutres*/
.post_details {
  padding-top: 15px;
}

.detail_post_buttons {
  margin-top: 45px !important;
}
.detail_post_buttons .btn {
  margin-bottom: 25px !important;
}

.back_to_top_section {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*------------------------comment form, sticky buttons and comments*/
.form-control {
  border: 2px solid #5588C5;
}

.comment_form {
  padding: 10px 10px 10px 10px;
}

.comment_form_login {
  text-align: center;
}

.comment_form_login a {
  background-color: #F83B4D;
  color: #fdfdfd;
  min-width: 190px;
  margin: 10px auto 10px auto;
}
.comment_form_login a .comment_form {
  text-align: center;
}
.comment_form_login a .comment_form a {
  margin: 10px 20px 10px 0;
}

.comment_form_login a:hover {
  background-color: #F96371;
  color: #FFC63D;
}

.comment_form {
  top: 0;
  opacity: 1;
  background-color: #1558A9;
  border-radius: 5px 5px 5px 5px;
  color: #fdfdfd;
}

.comment_form_toggle {
  background-color: #F96371;
  color: #fdfdfd;
  margin: 10px 5px 10px 10px;
}
.comment_form_toggle .form_group label {
  color: #fdfdfd;
}

.comment_form_toggle:hover {
  background-color: #F2A5AC;
  color: #FFC63D;
}

.comments {
  background-color: #7295BF;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*------ticket class changes*/
.ticket {
  height: 390px;
  padding-top: 10px;
}

.ticket .panel-body a {
  margin: 0 15px 15px 0;
}

/*-----------------------------------main search bar for bugs and features*/
/*for listings page*/
.search_bar {
  margin: 0 0 30px 0;
}

/*----------------------------------------------------------------home page*/
/*-----masshead*/
.mast_head {
  /*https://www.istockphoto.com/ie/vector/computer-circuit-board-seamless-black-and-white-technology-background-gm181167778-27262185*/
  background-image: url("../img/computer_circuit.jpg");
  background-color: #5588C5;
  background-blend-mode: multiply;
  margin-bottom: 10px;
}

/*-----introduction alert*/
.alert_introduction {
  background-color: #7295BF;
  border: 5px 5px 5px 5px;
  border-color: #242729;
  color: #242729;
  padding: 10px 5px 10px 5px;
}
.alert_introduction p a {
  color: #fdfdfd !important;
}
.alert_introduction p a:hover, .alert_introduction p a:active {
  color: #FFC63D !important;
  text-decoration: none;
}
.alert_introduction .alert > p + p {
  margin-top: 0 !important;
}
.alert_introduction .close, .alert_introduction .alert-dismissible .close {
  top: 5px;
  right: 5px;
  color: #242729;
}

/*------display for all news and side nav*/
.news_container {
  padding: 10px 0 10px 0;
}

/*-side nav displaying latest bugs and features*/
.side_nav {
  background-color: #BDAEAE;
}
.side_nav a {
  color: #fdfdfd;
}
.side_nav a:hover, .side_nav a:active {
  color: #FFC63D;
  text-decoration: none;
}

/*----------------------------------------- charts for chart page*/
.all_charts {
  padding-top: 15px;
  padding-bottom: 15px;
}

.average_graphs {
  height: 450px;
  margin-bottom: 70px;
}

.average_graphs .graph, .vote_graphs .graph {
  position: relative;
  height: 300px;
}
.average_graphs .graph h2, .vote_graphs .graph h2 {
  font-size: 1.5em;
}

.vote_graphs {
  height: 420px;
}

.vote_graphs .graph {
  position: relative;
  height: 300px;
}

/*---------------------------------password reset page (section removed due to bug!)*/
.password_reset_form input {
  /*reusing bootstrap's form-control class styling, due to issues accesing the input form*/
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 2px solid #5588C5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 15px;
}

/*-------------------------------------------------------media-queries*/
@media only screen and (min-width: 354px) {
  .panel_item {
    height: 320px;
  }
}
@media only screen and (min-width: 415px) {
  .sticky_buttons {
    text-align: left;
  }

  .sticky_buttons a {
    margin: 10px 15px 10px 15px;
  }
  .sticky_buttons a .comment_form {
    text-align: left;
    margin: 10px 10px 10px 10px;
  }
  .sticky_buttons a .comment_form a {
    margin: 10px 20px 10px 0;
  }
}
/*
@media only screen and (min-width: 444px) {
    .edit_button, .delete_button, .vote_button, .graph_toggle_button, .get_bug_posts_button, .get_feature_posts_button {
        margin: 0 15px 20px 0;
    }
}
*/
@media only screen and (min-width: 517px) {
  .mast_head .page_heading h1 {
    font-size: 4em !important;
  }
}
@media only screen and (min-width: 768px) {
  .panel_item {
    height: 375px;
  }

  .mast_head .page_heading h1 {
    font-size: 3em !important;
  }

  main {
    margin-top: -100px;
    padding: 100px 0 390px 0;
  }

  .navbar-collapse {
    background: #242729;
  }

  .side_nav {
    border-width: 5px;
    border-radius: 5px 5px 5px 5px;
    border-color: #242729;
  }
}
@media only screen and (min-width: 804px) {
  .dark_blue_bar h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.6em !important;
  }
  .dark_blue_bar h1 .badge {
    font-size: 0.8em !important;
  }

  main {
    margin-top: -50px;
    padding: 50px 0 390px 0;
  }
}
@media only screen and (min-width: 992px) {
  /*nav {
      margin: 0 0 -50px 0;
  }*/
  .mast_head .page_heading h1 {
    font-size: 4em !important;
  }

  main {
    padding: 50px 0 164px 0;
  }

  footer {
    margin: -164px 0 0 0;
  }
}

/*# sourceMappingURL=custom.css.map */
