/*---------------------------------base colors */
/*
Used this link to find variations of colors:
http://paletton.com/?fbclid=IwAR2Zl09ucUxIJgPOQWO06EgyD4266xHb-S0gvsxDa66Pq0QKJfJIfg9K9Ps#uid=3000u0k00vK00++00RE01pI0hk6*/

/*black blue*/
$black-blue: #242729;
$light-black-blue: #44494D;
$xtr-light-black-blue: #61686D;

/*blue*/
$blue: #366FB3;
$light-blue: #5588C5;
$dark-blue: #1558A9;
$xtr-dark-blue: #0B4181;
$xtr-light-blue: #7295BF;

/*white*/
$white: #fdfdfd;

/*green*/
$green: #31CE44;
$dark-green: #019914;
$light-green: #52CE80;
$xtr-light-green: #A5DCAC;

/*yellow*/
$yellow: #FFC63D;
$light-yellow: #FFD266;
$xtr-light-yellow: #FFE5A7;

/*red*/
$red: #F83B4D;
$dark-red: #C20013;
$light-red: #F96371;
$xtr-light-red: #F2A5AC;

/*grey*/
$grey: #CDCDCD;


/*-----------------------------------------layout*/

html {
    height: 100%;
}

body {
    min-height: 100vh;
    padding: 0 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    margin: 0 0;
}

section {
    margin-top: -50px;
    padding: 50px 0 390px 0;
    width: auto;
    min-height: inherit;
}

nav {
    position: relative;
    margin: 0 0;
}

footer {
    position: relative;
    margin: -390px 0 0 0;
    /* negative value of footer height */
    clear: both;
}


/*--------------------------------------------section colors and borders*/

/*----------------------navbar*/

nav {
    background: $black-blue;
    button {
        background: $light-black-blue !important;
    }
}
.navbar-toggle { 
    span {
        background: $white;
    }
}
.navbar-brand:hover {
    background-color: $xtr-light-black-blue;
}
.navbar-collapse {
    background: $light-black-blue; /*changes to black-blue for wider screens*/
    button:hover, a:hover {
        background: $xtr-light-black-blue;
    }
    ul {
        li {
            a {
                color: $white;
            }
            a:hover {
                background: $xtr-light-black-blue;
            }
        }
    }
}
.nav-stacked li:hover, .nav-stacked li:active {
    background: $xtr-light-black-blue;
}

footer {
     background: $xtr-dark-blue;
     .link, a { 
         border-radius: 5px 5px 5px 5px;
     }
     a {
         color: $white
     }
     a:hover {
         background: $blue !important;
         color: $yellow;
     }
     p {
         color: $grey;
     }
}


/*---------------------buttons colors, borders and margins*/
.current_page {
    background: $xtr-light-black-blue;
}

.new_post_button, .login_button, .registration_button, .reset_password_button, .purchase_button, .submit_button {
    margin: 20px 10px 20px 10px;
    color: $white;
    background-color: $green;
}
.new_post_button:hover, .login_button:hover, .registration_button:hover, .reset_password_button:hover, .purchase_button:hover, .submit_button:hover,
.new_post_button:active, .login_button:active, .registration_button:active, .reset_password_button:active, .purchase_button:active, .submit_button:active,  {
    background-color: $light-green;
    color: $yellow;
}

.edit_button, .delete_button, .vote_button, .graph_toggle_button {
    background-color: $blue;
    color: $white;
    margin: 0 15px 15px 0;
}

.edit_button:hover, .delete_button:hover, .vote_button:hover, .graph_toggle_button:hover {
    background-color: $light-blue;
    color: $yellow;
}

.submit_payment_button {
    background-color: $green;
    color: $white;    
}

.submit_payment_button:hover {
    background-color: $light-green;
    color: $yellow;    
}
.post_comment_form button {
    background-color: $green;
    color: $white;
}
.post_comment_form button:hover {
    background-color: $light-green;
    color: $yellow;
}


.close {
    /*changing bootstrap class*/
    font-size: 31px;
    font-weight: 800;
    filter: alpha(opacity=20);
    opacity: .5;
}
.close:hover {
    opacity: .8;
}



.search_button {
    color: $white;
    background-color: $light-blue;
}

.search_button:hover {
    color: $yellow;
    background-color: $xtr-light-blue;
}

.activated_button {
    background-color: $yellow !important;
    color: $dark-green !important;
}

/*---------------------------------------text colors*/

.dark_green_text {
    color: $dark-green;
}
.dark_red_text {
    color: $dark-red;
}

.green_text {
    color: $light-green ;
}
.yellow_text {
    color: $light-yellow ;
}
.black_blue_text {
    color: $black-blue;
}
.red_text {
    color: $light-red ;
}
.white_text {
    color: $white !important;
}
.light_blue_text {
    color: $light-blue !important;
}
.blue_text {
    color: $blue !important;
}

/*--------------------------------------------number display badge classes*/
.badge-positive {
    background-color: $dark-green;
}
        
.badge-negative {
    background-color: $dark-red;
}

.badge-blue {
    /*for footer*/
    background-color: $dark-blue;
}

/*-----------------------------ticket panels for bugs and features*/
/*-------for cart and checkout pages*/

.panel_cart_item {
    background-color: $xtr-light-yellow;
    .panel-heading {
        color: $black-blue;
        background-color: $light-yellow;
        
        .badge-positive {
            background-color: green;
        }
        
        .badge-negative {
            background-color: red;
        }
    }
    .panel-body form .input-group {
        margin: 5px 5px 5px 0;
    }
    .panel-body form .purchase_ammend_button
    {
        color: $white;
        background-color: $blue;        
    }
    .panel-body form .purchase_ammend_button:hover {
        color: $yellow;
        background-color: $light-blue;
    }
    .panel-body form .input-group-addon {
        color: $white;
        background-color: $dark-blue;
        border: 1px 1px 1px 1p;
        border-color: $light-blue;
    }
}

/*-----for bugs, features, profile pages*/
.panel_done {
    border-color: $green;
    background-color: $xtr-light-green;
    .panel-heading {
        color: $black-blue;
        background-color: $light-green;
        border-color: $green;
    }
    .panel-body a {
        color: $white;
        background-color: $blue;        
    }
    .panel-body a:hover {
        color: $yellow;
        background-color: $light-blue;
    }
}

.panel_doing {
    border-color: $yellow;
    background-color: $xtr-light-yellow;
    .panel-heading {
        color: $black-blue;
        background-color:$light-yellow;
        border-color: $yellow;
    }
    .panel-body a {
        color: $white;
        background-color: $blue;        
    }
    .panel-body a:hover {
        color: $yellow;
        background-color: $light-blue;
    }
}

.panel_to_do {
    border-color: $red;
    background-color: $xtr-light-red;
    .panel-heading {
        color: $black-blue;
        background-color: $light-red;
        border-color: $red;
    }
    .panel-body a {
        color: $white;
        background-color: $blue;
    }
    .panel-body a:hover {
        color: $yellow;
        background-color: $light-blue;
    }
}


/*------ticket class changes*/
.ticket {
    height: 390px;
    padding-top: 10px;
}

.ticket .panel-body a {
    margin: 0 15px 15px 0;
} 


/*--------------------------------------------------panel collapse*/
//panel-default and panel-collapse are bootstrap classes
.panel-default {
    .panel-collapse {
        border-style: solid;
        border-width: 0 2px 2px 2px;
        border-color: $black-blue;
    }
    .dark_blue_heading {
        background-image: none;
        color: $white !important;
        background-color: $dark-blue !important;
        padding: 10px 15px;
        
        border-style: solid;
        border-width: 2px;
        border-color: $black-blue;
        
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .dark_blue_heading:hover {
        background-image: none;
        background-color: $light-blue !important;
    }
}

.panel-group .panel {
    margin-bottom: 30px !important;
}

/*-----------------------------------search bar for bugs and features*/
.search_bar {
    margin: 0 0 30px 0;
}


/*----------------------------------------------------------------home page*/
/*-----masshead*/
.mass_head{
    /*https://www.istockphoto.com/ie/vector/computer-circuit-board-seamless-black-and-white-technology-background-gm181167778-27262185*/
    background-image: url("../img/computer_circuit.jpg");
    background-color: $light-blue;
    background-blend-mode: multiply;
    margin-bottom: 10px;
}

/*-----introduction alert*/
.alert_introduction {
    background-color: $light-green;
    border: 5px 5px 5px 5px;
    border-color: $black-blue;
    color: $black-blue;
    padding: 0 5px 0 5px;
    
    .close, .alert-dismissible .close {
        top: 5px;
        right: 5px;
        color: $black-blue;
    }
}

/*------display for all news and side nav*/
.news_container {
    padding: 10px 0 10px 0;
}

/*-side nav displaying latest bugs and features*/
.side_nav {
    background-color: $light-yellow;
}


/*---------------------------------password reset page*/
.password_reset_form input {
    /*reusing bootstrap's form-control class styling, due to issues accesing the input form*/
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 2px solid #5588C5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 15px;
}

.form-control {
    border: 2px solid $light-blue;
}

.comment_form {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  padding: 10px 10px 10px 10px;
}

.sticky_buttons {
    position: -webkit-sticky;
    position: sticky;
    top: 10;
    z-index: 10;
}

.sticky_buttons a {
    background-color: $red;
    color: $white;
    margin: 15px 0 0 0;
    text-align: right;
}
.sticky_buttons a:hover {
    background-color: $light-red;
    color: $yellow;
}

.comment_form {
  top: 0;
  opacity: 1;
  background-color: $dark-blue;
  border-radius: 5px 5px 5px 5px;
  color: $white;
}

.comment_form_toggle {
    background-color: $light-red;
    color: $white;
    margin: 10px 5px 10px 10px;
    .form_group {
        label {
            color: $white;
        }
    }
}
.comment_form_toggle:hover {
    background-color: $xtr-light-red;
    color: $yellow;
}

.comments {
    background-color: $xtr-light-blue;
    border-radius: 0 0 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*----------------------------------------- charts for chart page*/
.average_graphs {
    height: 490px
}
.average_graphs .graph {
    position: relative;
    height: 300px;
    /*height:60vh;
    width:120vw;*/
}
.vote_graphs {
    height: 420px;
}
.vote_graphs .graph {
    position: relative;
    height: 300px;   
}

/*-------------------------------------------------------media-queries*/

@media only screen and (min-width: 768px) {
    section {
        margin-top: -100px;
        padding: 100px 0 390px 0;
    }
    .navbar-collapse {
        background: $black-blue;
    }
    .side_nav {
        border-width: 5px;
        border-radius: 5px 5px 5px 5px;
        border-color: $black-blue;
    }
    
}

@media only screen and (min-width: 804px) {
    section {
        margin-top: -50px;
        padding: 50px 0 390px 0;
    }
}

@media only screen and (min-width: 992px) {
    /*nav {
        margin: 0 0 -50px 0;
    }*/
    section {
        padding: 50px 0 164px 0;
    }
    
    footer {
        margin: -164px 0 0 0;
    }
}