{% extends 'base.html' %} 
{% block page_heading %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 mast_head">
            <div class="col-xs-12 col-sm-6 page_heading">
                <h1 class="white_text">Techfix<em class="dark_blue_text">-Overlap<i class="fa fa-wrench"></i></em></h1>
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if user.is_authenticated %}
                    <a type="button" class="btn new_post_button" href="{% url 'new_bug_post' %}">Create Bug Report</a>
                    <a type="button" class="btn new_post_button" href="{% url 'new_feature_post' %}">Create Feature Request</a>
                    <p class="white_text"><strong>Welcome back {{ user }}!</strong></p>
                {% else %}
                    <a type="button" class="btn login_button" href="{% url 'login' %}">Login Account</a>
                    <a type="button" class="btn registration_button" href="{% url 'registration' %}">Register Account</a>
                    <p class="white_text"><strong>Register and/or login to create posts.</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="alert alert_introduction alert-dismissible col-xs-12" role="alert">
    <button type="button" class="close col-xs-2" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="col-xs-10 col-md-5">
        <strong>Welcome to Techfix-Overlap!</strong> 
        We are a group with a goal to help further develop the <strong>Artifical Intelligence</strong> building Python framework <strong>Techfix 3.9.5</strong>. 
        We work extensively with the Techfix open source community, in development of the Techfix Github repository.
        We help assist professionals who use the Framework at work and who require new features to be added or bugs to be fixed.
        <strong>Techfix 4</strong> coming soon!
    </p>
    <p class="col-xs-10 col-md-5">
        <strong>Bug Reports</strong> and <strong>Feature Requests</strong> in which garner the most votes, are focused on atleast 50% of the time by a team of two highely qualified Software Engineers! We have in total a team of 20 Engineers and we are growing all the time, meaning multiple bug reports and new features are worked on every day!
        For further analyses please check out our <a href="{% url 'get_charts' %}"><i class="fa fa-pie-chart"></i> Charts</a> page!
    </p>
</div>

<div class="row news_container">
    <div class="col-xs-12 col-md-8">
        <h2 class="news_sub_title"><em class="dark_green_text">News</em></h2>
        {% for blog_post in blog_posts %}
        <div class="new_post_link blog_posts">
            <h3>
            {% if blog_post.title|length > 25 %}
                {{ blog_post.title|slice:":22" }}...
            {% else %}
                {{ blog_post.title }}
            {% endif %}
            </h3>
            <p>
                <em>
                    <strong>Author:</strong> {{ blog_post.user }}
                </em> ~ 
                <em>
                    <strong>Published:</strong> {{ blog_post.published_date }}
                </em>
            </p>
            <p>{{ blog_post.content }}</p>
        </div>
        {% endfor %}
        <a href="{% url 'get_blog_posts' %}" class="btn new_post_button">View Full News Blog</a>
    </div>
    <side class="col-xs-12 col-md-4 side_nav">
        <h2><em class="dark_green_text">New Bug Reports!</em></h2>  
        {% for bug_post in bug_posts %}
        <a href="{% url 'bug_post_detail' bug_post.id %}" class="col-xs-12">        
            <div class="new_post_link">
                
                <h3>
                {% if bug_post.title|length > 25 %}
                    {{ bug_post.title|slice:":22" }}...
                {% else %}
                    {{ bug_post.title }}
                {% endif %}
                </h3>
                <p>
                    <em>
                        <strong>Author:</strong> {{ bug_post.user }}
                    </em> ~ 
                    <em>
                        <strong>Published:</strong> {{ bug_post.published_date }}
                    </em>
                </p>
               
            </div>
        </a>
        {% endfor  %}
        <h2><em class="dark_green_text">New Feature Requests!</em></h2> 
        {% for feature_post in feature_posts %}
        <a href="{% url 'feature_post_detail' feature_post.id %}" class="col-xs-12">        
            <div class="new_post_link">
                <h3>
                {% if feature_post.title|length > 25 %}
                    {{ feature_post.title|slice:":22" }}...
                {% else %}
                    {{ feature_post.title }}
                {% endif %}
                </h3>
                <p>
                    <em>
                        <strong>Author:</strong> {{ feature_post.user }}
                    </em> ~ 
                    <em>
                        <strong>Published:</strong> {{ feature_post.published_date }}
                    </em>
                </p>
            </div>
        </a>
        {% endfor %}
    </side>    
</div>
{% endblock content %}
