{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% block page_title %}
{% endblock %}
{% block page_heading %}
<!--Mix of bootrap classes and custom.css classes-->
<header class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2 loging_page_header line_break_border">
        <h1>Login Page</h1>
        <p>Register account first if you haven't done so yet...</p>
        <a type="button" class="btn registration_button header_button" href="{% url 'registration' %}">Registration Page</a>
    </div>
</header>       
{% endblock %} 
{% block content %}
<!--Mix of bootrap classes and custom.css classes-->
<section class="col-xs-12 col-md-8 col-md-offset-2 login_form">
    <p><em class="dark_green_text">Login here:</em></p>
    <form method="POST">
        {% csrf_token %} {{ login_form | as_bootstrap }}
        <div class="optional_button_div">
            <button type="submit" class="btn submit_button col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">Login</button>
        </div>
    </form>
    <!-- password reset link to be added here once the reset password view function is fixed. -->
</section>
{% endblock %}