{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% block page_title %}
{% endblock %}
{% block page_heading %}
<div class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1>Login Page</h1>
        <p>Register account first if you haven't done so yet...</p>
        <a type="button" class="btn registration_button" href="{% url 'registration' %}">Registration Page</a>
    </div>
</div>       
{% endblock %} 
{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <form method="POST">
        {% csrf_token %} {{ login_form | as_bootstrap }}
        <button type="submit" class="btn login_button">Login</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
</div>
{% endblock %}