{% extends 'base.html' %}
{% block page_title %}
{{ user }}'s
{% endblock %} 
{% block page_heading %}

<div class="container">
    <div class="col-md-12">
        <h1><em class="dark_green_text">{{ user }}</em>'s Account</h1>
        {% if profile.email %}
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email: {{ profile.email }}</p>
        {% endif %}
    </div>
    <hr />
</div>

{% endblock %} 

{% block content %}


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <a type="button" class="btn new_post_button" href="{% url 'new_bug_post' %}">Create Bug Report</a>
                    
    <div class="panel panel-default">
       <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="dark_blue_bar" role="tab" id="headingOne">
                <h2 class="red_text">
                      Your Bug Reports 
                    {% if bug_count > 0 %}
                        <label class="badge badge-positive">{{ bug_count }}</label>
                    {% else %}
                        <label class="badge badge-negative">{{ bug_count }}</label>
                    {% endif %}
                </h2>
            </div>
        </a>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {% if bug_count > 0 %}
                <div class="row">
                {% for bug_post in bug_posts %}
             
                <div class="col-xs-12 col-sm-4 col-md-3 ticket">
                    
                    {% if bug_post.status == "Done" %}
                    <div class="panel panel_done">
                    {% elif bug_post.status == "Doing" %}
                    <div class="panel panel_doing">
                    {% else %}
                    <div class="panel panel_to_do">
                    {% endif %}
                    
                        <div class="panel-heading panel_post_head">
                            <h3>
                                <strong>
                                {% if bug_post.title|length >= 20 %}
                                    {{ bug_post.title|slice:":19" }}..
                                {% else %}
                                    {{ bug_post.title }}
                                {% endif %}
                                </strong>
                            </h3>
                            <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="boldtext">Status:</span> {{ bug_post.status }}</p>
                            <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ bug_post.votes }} ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ bug_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ bug_post.comment_count }} </p>
                        </div>
                        <div class="panel-body">
                            <p>'{{ bug_post.content|slice:":25" }}'</p>
                            {% if bug_post.user == user %}
                            <p><span class="boldtext">This is your post!</span></p>
                                {% if bug_post.status == "To Do" %}
                                <a href="{% url 'edit_bug_post' bug_post.id %}" class="btn">Edit</a>
                                <a href="{% url 'delete_bug_post' bug_post.id %}" class="btn">Delete</a>
                                {% endif %}
                            {% else %}
                            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="boldtext">Author: {{ bug_post.user|slice:":7" }}</p>
                            {% endif %}
                            <a href="{% url 'bug_post_detail' bug_post.id %}"  class="btn">View</a>
                            <p><span class="boldtext">Published:</span> {{ bug_post.published_date }} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
                {% else %}
                <p>No posts found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <a type="button" class="btn new_post_button" href="{% url 'new_feature_post' %}">Create Feature Request</a>
                    
    <div class="panel panel-default">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="dark_blue_bar" role="tab" id="headingTwo">
                <h2 class="yellow_text">
                    Your Feature Requests 
                    {% if feature_count > 0 %}
                    <label class="badge badge-positive">{{ feature_count }}</label>
                    {% else %}
                    <label class="badge badge-negative">{{ feature_count }}</label>
                    {% endif %}
                </h2>
            </div>
        </a>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
            {% if feature_count > 0 %}
            <div class="row">
                {% for feature_post in feature_posts %}
                <div class="col-xs-12 col-sm-4 col-md-3 ticket">
                    
                    {% if feature_post.status == "Done" %}
                    <div class="panel panel_done">
                    {% elif feature_post.status == "Doing" %}
                    <div class="panel panel_doing">
                    {% else %}
                    <div class="panel panel_to_do">
                    {% endif %}
                        <div class="panel-heading panel_post_head">
                            <h3>
                            <strong>
                            {% if feature_post.title|length >= 20 %}
                                {{ feature_post.title|slice:":19" }}..
                            {% else %}
                                {{ feature_post.title }}
                            {% endif %}
                            </strong>
                            </h3>
                            <p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="boldtext">Status:</span> {{ feature_post.status }}</p>
                            <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ feature_post.votes }} 
                            
                            {% if feature_post.votes_cost > 0 %}
                                <label class="badge badge-positive">{{ feature_post.votes_cost }} € donated</label>
                            {% else %}
                                <label class="badge badge-negative">{{ feature_post.votes_cost }} € donated</label>
                            {% endif %}
                            ~ <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ feature_post.views }} ~ <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ feature_post.comment_count }} </p>
                        </div>
                        <div class="panel-body">
                                <p>'{{ feature_post.content|slice:":25" }}'</p>
                                {% if feature_post.user == user %}
                                <p><span class="boldtext">This is your post!</span></p>
                                    {% if feature_post.status == "To Do" %}
                                    <a href="{% url 'edit_feature_post' feature_post.id %}" class="btn">Edit</a>
                                    {% endif %}
                                {% else %}
                                <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="boldtext">Author: {{ feature_post.user|slice:":7" }}</p>
                                {% endif %}
                                <a href="{% url 'feature_post_detail' feature_post.id %}"  class="btn">View</a>
                                <p><span class="boldtext">Published:</span> {{ feature_post.published_date }} </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No posts found.</p>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}