{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}

<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <a type="button" class="btn" href="{% url 'new_bug_post' %}">Create Bug Report</a>
        <a type="button" class="btn" href="{% url 'new_feature_post' %}">Create Feature Suggestion</a>
        <p>{{ profile.email }}</p>
    </div>
</div>
<hr>
<h4>Bug Posts:</h4>
{% for bug_post in bug_posts %}
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <h3>{{ bug_post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ bug_post.content|truncatewords:30 }}</p>
                    <p><a href="{% url 'edit_bug_post' bug_post.id %}" class="btn btn-default">Edit Post</a></p>
                    <p><span class="boldtext">Published on:</span> {{ bug_post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{bug_post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ bug_post.tag }}</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endfor %}
<h4>Feature Posts:</h4>
{% for feature_post in feature_posts %}
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <h3>{{ feature_post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ feature_post.content|truncatewords:30 }}</p>
                    <a href="{% url 'edit_feature_post' feature_post.id %}" class="btn btn-default">Edit Post</a>
                    <p><span class="boldtext">Published on:</span> {{ feature_post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{feature_post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ feature_post.tag }}</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endfor %}

{% endblock %}