{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}
Registration Page
{% endblock %}
{% block page_heading %}
<div class="container">
    <h1>Registration Page</h1>
    <p>If you have an account already, just login..</p>
    <a type="button" class="btn login_button" href="{% url 'login' %}">Login Page</a>
</div>  
{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <form method="POST">
        {% csrf_token %} {{ registration_form | as_bootstrap }}
        <button type="submit" class="btn registration_button">Register</button>
    </form>
</div>
{% endblock %}