{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}
Registration Page
{% endblock %}
{% block page_heading %}
<header class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2 registration_page_header line_break_border">
        <h1>Registration Page</h1>
        <p>If you have an account already, just login..</p>
        <a type="button" class="btn login_button" href="{% url 'login' %}">Login Page</a>
    </div>
</header>  
{% endblock %}
{% block content %}
<section class="col-xs-12 col-md-8 col-md-offset-2 registration_form">
    <p><em class="dark_green_text">Register here:</em></p>
    <form method="POST">
        {% csrf_token %} {{ registration_form | as_bootstrap }}
        <button type="submit" class="btn submit_button">Register</button>
    </form>
</section>
{% endblock %}