{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_heading %}
<!--Mix of bootrap classe-->
<header class="container">
    <h1>Feature Votes Cart:</h1>
    <p>Remember that for each 10 Euro donated by all users counts as 1 vote for the Feature Request. i.e 52 Euro counts as 5 votes only but if a user adds 18 euro it adds to 7 votes.</p>
    <p><strong>Cart items can be removed</strong> on clicking amend, if amends input is <strong>empty</strong> or <strong>0</strong>.</p>
    {% if user.is_authenticated %}
        <p class="dark_green_text"><strong><em>Welcome back {{ user }}!</em></strong></p>
    {% endif %}
</header>
{% endblock page_heading %} 

{% block content %}
<!--Mix of bootrap classes and custom.css classes-->

<!--list if cart items-->
<section class="row row-flex">
    {% for item in cart_items %}
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel_item">
            <div class="panel-heading panel_post_head">
                <h3>
                <strong>
                {% if item.feature_voted.title|length >= 20 %}
                    {{ item.feature_voted.title|slice:":18" }}..
                {% else %}
                    {{ item.feature_voted.title }}
                {% endif %}
                </strong>
                </h3>
                <p>Collective user donations:</p> 
                <p><em>
                 
                {% if item.feature_voted.votes_cost == 0 %} 
                    <strong class="light_red_text">{{ item.feature_voted.votes_cost}} €</strong>
                {% else %}
                    <strong class="light_green_text">{{ item.feature_voted.votes_cost}} €</strong>
                {% endif %}
                <!--label starts-->
                {% if item.feature_voted.votes == 0 %}
                    <label class="badge badge-negative">
                {% else %}
                    <label class="badge badge-positive">
                {% endif %}
                    {{ item.feature_voted.votes }} Votes so far!
                    <!--label ends-->
                    </label>
                </em></p>
            </div>
            <div class="panel-body">
                <p><strong class="light_green_text">You will add:</strong></p>
                <!--form to adjust item donations-->
                <p>
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">Adjust your offer</label>
                            <div class="input-group">
                                <div class="input-group-addon">Euro</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">{{ item.money_amount }} €</div>
                            </div>
                        </div>
                        <button type="submit" class="btn purchase_ammend_button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


<!--summary-->
<section class="row text-center">
    <p><strong class="dark_green_text">Total Cost</strong></p>
    <p><strong class="dark_green_text">
        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total_cost }} €
    </strong></p>
    {% if user.is_authenticated %}
        {% if total_cost > 0 %}
        <div class="row optional_button_div">
            <a href="{% url 'checkout' %}" class="btn purchase_button col-xs-10 col-xs-offset-1 col-md-8 col-xs-offset-2" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
        {% endif %}
    {% else %}
        <div class="row optional_button_div">
            <a type="button" class="btn login_button col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" href="{% url 'login' %}">Login To Purchase Feature Votes</a>
        </div>
        <p class="red_text">Don't have an account?</p>
        <div class="row optional_button_div">
            <a type="button" class="btn registration_button col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" href="{% url 'registration' %}">Register Account</a>
        </div>
    {% endif %}
</section>

{% endblock %}